<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"> </script>
@model CatalogoLlibros.Models.Libro


<div class="mb-3">
    <label for="Autor">Autor</label>
   <select asp-for="autorId" class="form-select">
        @foreach (var autor in ViewBag.Autores as List<Autor>)
        {
            <option value="@autor.id">@autor.nombre</option>
        }
    </select>
</div>
<form asp-action="Crear" method="post" class="p-4 border rounded shadow bg-black">
    <div class="mb-3">
        <label for="Titulo" class="form-label">Título</label>
        <input type="text" asp-for="titulo" class="form-control" id="Titulo" placeholder="Título del libro" required>
    </div>
    
    <div class="mb-3">
        <label for="FechaPublicacion" class="form-label">Fecha de Publicación</label>
        <input type="date" asp-for="anioPublicacion" class="form-control" id="FechaPublicacion">
    </div>
    <button type="submit" class="btn btn-primary">Crear Libro</button</form>
        <a href="@Url.Action("Index", "Libro")" class="btn btn-secondary mt-3">Volver al catálogo</a>
